<div class="row">
    <div class="col-md-14">
        <div style="margin:20px 0" class="date_selector">
                <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="9" data-metai="2018" href="javascript:void(0);">2018-09</a></div>
                <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="10" data-metai="2018" href="javascript:void(0);">2018-10</a></div>
                <div class="date_active" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="11" data-metai="2018" href="javascript:void(0);">2018-11</a></div>
        </div>
    </div>
</div>
