<div class="page_content">
    <div class="row">
        <div class="col-md-14">
            <div style="margin:20px 0" class="date_selector">
                    <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="9" data-metai="2018" href="javascript:void(0);">2018-09</a></div>
                    <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="10" data-metai="2018" href="javascript:void(0);">2018-10</a></div>
                    <div class="date_active" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="11" data-metai="2018" href="javascript:void(0);">2018-11</a></div>
                    <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="12" data-metai="2018" href="javascript:void(0);">2018-12</a></div>
                    <div class="" style="display:inline-block;padding:5px;font-weight:bold;"><a style="text-decoration:none;" data-menuo="1" data-metai="2019" href="javascript:void(0);">2019-01</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-14" style="position:relative;text-align:center" id="timetable_content" data-tb-width="765px"><style>
    .dienynas td.wday.weekend {
        width: 16px;
    }
</style>

<div style="position:absolute;top:0;z-index:2;">
    <table class="dienynas">
        <thead>
            <tr>
                <td class="dalykai">LAPKRITIS</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="dalykai ">
                        Subject4
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject5
                    </td>
                </tr>
                <tr>
                    <td class="dalykai larger">
                        Subject6
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject2
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject7
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject8
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject1
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject9
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject10
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject11
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject12
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject13
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject3
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div id="scrollable_dienynas" style="overflow-x:scroll;position:relative;top:0;width:765px;z-index:1;padding-bottom:5px;">
    <table class="dienynas" style="width:924px">
        <thead>
            <tr>
                <td class="dalykai">Lap</td>
                    <td class="wday  ">
1                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
2                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
3                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
4                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
5                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
6                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
7                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
8                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
9                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
10                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
11                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
12                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
13                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
14                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
15                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
16                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
17                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
18                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
19                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
20                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
21                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
22                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
23                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
24                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
25                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
26                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
27                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
28                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
29                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
30                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="dalykai  ">
                        Subject4
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56845715]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject4</b></span><div> 23d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject5
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  larger">
                        Subject6
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56434381,56434311]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 14d., trečiadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56503082,56503069]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 16d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56816549,56815875]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 21d., trečiadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56843166,56843097]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 23d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57077889]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 28d., trečiadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>9, Klasės darbas (lapkričio 28)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57215741,57215776]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject6</b></span><div> 30d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                                     <div>...</div>
                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject2
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[55933973]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject2</b></span><div> 06d., antradienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>10, Klasės darbas (lapkričio 06)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject7
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56329242]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject7</b></span><div> 14d., trečiadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56722439]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject7</b></span><div> 22d., ketvirtadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>9, Kontrolinis darbas (lapkričio 22)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_kontr" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57051666]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject7</b></span><div> 28d., trečiadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>9, Savarankiškas darbas (gruodžio 04)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_sav" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject8
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[55962879]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject8</b></span><div> 05d., pirmadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nk, pateisinta tėvų (ne dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nk</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57011307]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject8</b></span><div> 26d., pirmadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject1
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56036427,56036080]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 08d., ketvirtadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56106668]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 09d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>np, pateisinta (kita priežastis)</div>" class=" clickable ">

                                                                    <div style="">np</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56310665]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 13d., antradienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56363622]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 14d., trečiadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56310777]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 15d., ketvirtadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>5, Klasės darbas (gruodžio 02)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">5<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56462338]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 16d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56747028]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 22d., ketvirtadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>8, Klasės darbas (lapkričio 29)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">8<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56825908]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 23d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57172338]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject1</b></span><div> 30d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject9
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56276974]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject9</b></span><div> 13d., antradienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56337451,55914222]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject9</b></span><div> 14d., trečiadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56632432]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject9</b></span><div> 20d., antradienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56735190]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject9</b></span><div> 22d., ketvirtadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>9, Kontrolinis darbas (lapkričio 26)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_kontr" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject10
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56449423]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject10</b></span><div> 16d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56785757]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject10</b></span><div> 23d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57093041]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject10</b></span><div> 30d., penktadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject11
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject12
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56042865]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject12</b></span><div> 08d., ketvirtadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject13
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56262303]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject13</b></span><div> 13d., antradienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>10, Klasės darbas (lapkričio 13)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56907021]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject13</b></span><div> 26d., pirmadienis</div></div><div class='stitle'><b>Įvertinimai:</b></div><div>10, Rašinys (lapkričio 29)</div>" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_rasinys" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject3
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56932170]" data-placement="left" data-original-title="<div style='border-bottom:solid 1px #87B4CC'><span style='font-size:1.1em;'><b>Subject3</b></span><div> 26d., pirmadienis</div></div><div class='stitle'><b>Lankomumas:</b></div><div>nt, pateisinta tėvų (dėl ligos)</div>" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
        </tbody>
    </table>
</div></div>
    </div>
    <div style="height:10px;"></div>
    <div class="row">
    <div class="col-md-14"><h4>Pažymių spalvos</h4></div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul>
            <li><span class="fa fa-circle color_praktinis" style="vertical-align:middle;"></span> - praktinis darbas; </li>
            <li><span class="fa fa-circle color_kontr" style="vertical-align:middle;"></span> - kontrolinis darbas; </li>
            <li><span class="fa fa-circle color_paprastas" style="vertical-align:middle;"></span> - paprastas darbas; </li>
            <li><span class="fa fa-circle color_sav" style="vertical-align:middle;"></span> - savarankiškas darbas; </li>
            <li><span class="fa fa-circle color_namu" style="vertical-align:middle;"></span> - namų darbas; </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <ul>
            <li><span class="fa fa-circle color_klases" style="vertical-align:middle;"></span> - klasės darbas; </li>
            <li><span class="fa fa-circle color_teorinis" style="vertical-align:middle;"></span> - teorinis darbas; </li>
            <li><span class="fa fa-circle color_iskaita" style="vertical-align:middle;"></span> - įskaita; </li>
            <li><span class="fa fa-circle color_testas" style="vertical-align:middle;"></span> - testas; </li>
            <li><span class="fa fa-circle color_kaupiamasis" style="vertical-align:middle;"></span> - kaupiamasis; </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <ul>
            <li><span class="fa fa-circle color_kitu_ist" style="vertical-align:middle;"></span> - iš kitų įstaigų; </li>
            <li><span class="fa fa-circle color_projektas" style="vertical-align:middle;"></span> - projektas; </li>
            <li><span class="fa fa-circle color_rasinys" style="vertical-align:middle;"></span> - rašinys. </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-14"><h4>Kiti žymėjimai</h4></div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <div style="display:inline-block;width:24px;height:31px;vertical-align:middle;" class="recent-mark"></div><span"> - įvertinimas įvestas per paskutines 5 dienas.
            </span"></li>
        </ul>

    </div>
</div>



    <div class="row">
    <div class="col-md-14"><h4>Lankomumo žymėjimai</h4></div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul>
            <li><b>n</b> - nebuvo pamokoje, nepateisinta; </li>
            <li><b>nt</b> - nebuvo pamokoje, pateisinta tėvų (dėl ligos); </li>
            <li><b>nv</b> - nebuvo pamokoje, pateisinta (varžybos, olimpiados, konkursai); </li>
            <li><b>np</b> - nebuvo pamokoje, pateisinta (kita priežastis); </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <ul>
            <li><b>nl</b> - nebuvo pamokoje, pateisinta (dėl ligos); </li>
            <li><b>nk</b> - nebuvo pamokoje, pateisinta tėvų (ne dėl ligos); </li>
            <li><b>ns</b> - nebuvo pamokoje, pateisinta (direktoriaus įsakymu); </li>
            <li><b>ng</b> - nebuvo pamokoje, pateisinta (gydytojo pažyma); </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <ul>
            <li><b>p</b>- pavėlavo į pamokas; </li>
            <li><b>*</b> - vertinimas tekstu; </li>
        </ul>
    </div>
</div>

</div>
