<div style="position:absolute;top:0;z-index:2;">
    <table class="dienynas">
        <thead>
            <tr>
                <td class="dalykai">LAPKRITIS</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="dalykai ">
                        Subject4
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject5
                    </td>
                </tr>
                <tr>
                    <td class="dalykai larger">
                        Subject6
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject2
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject7
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject8
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject1
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject9
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject10
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject11
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject12
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject13
                    </td>
                </tr>
                <tr>
                    <td class="dalykai ">
                        Subject3
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div id="scrollable_dienynas" style="overflow-x:scroll;position:relative;top:0;width:765px;z-index:1;padding-bottom:5px;">
    <table class="dienynas" style="width:924px">
        <thead>
            <tr>
                <td class="dalykai">Lap</td>
                    <td class="wday  ">
1                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
2                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
3                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
4                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
5                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
6                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
7                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
8                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
9                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
10                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
11                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
12                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
13                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
14                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
15                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
16                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
17                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
18                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
19                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
20                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
21                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
22                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
23                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
                    <td class="wday  weekend">
24                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Št
                            </div>

                    </td>
                    <td class="wday  weekend">
25                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Sk
                            </div>

                    </td>
                    <td class="wday  ">
26                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pr
                            </div>

                    </td>
                    <td class="wday  ">
27                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                An
                            </div>

                    </td>
                    <td class="wday  ">
28                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Tr
                            </div>

                    </td>
                    <td class="wday  ">
29                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Kt
                            </div>

                    </td>
                    <td class="wday  ">
30                            <div style="color:inherit;font-size:0.8em;padding:0;margin:0">
                                Pn
                            </div>

                    </td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="dalykai  ">
                        Subject4
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56845715]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject4&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 23d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject5
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  larger">
                        Subject6
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56434381,56434311]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 14d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56503082,56503069]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 16d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56816549,56815875]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 21d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56843166,56843097]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 23d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57077889]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 28d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;9, Klasės darbas (lapkričio 28)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57215741,57215776]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject6&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 30d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                                     <div>...</div>
                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject2
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[55933973]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject2&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 06d., antradienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;10, Klasės darbas (lapkričio 06)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject7
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56329242]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject7&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 14d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56722439]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject7&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 22d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;9, Kontrolinis darbas (lapkričio 22)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_kontr" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57051666]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject7&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 28d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;9, Savarankiškas darbas (gruodžio 04)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_sav" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject8
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[55962879]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject8&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 05d., pirmadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nk, pateisinta tėvų (ne dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nk</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57011307]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject8&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 26d., pirmadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject1
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56036427,56036080]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 08d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56106668]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 09d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;np, pateisinta (kita priežastis)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">np</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56310665]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 13d., antradienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56363622]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 14d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56310777]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 15d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;5, Klasės darbas (gruodžio 02)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">5<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56462338]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 16d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56747028]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 22d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;8, Klasės darbas (lapkričio 29)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">8<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56825908]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 23d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57172338]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject1&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 30d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject9
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56276974]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject9&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 13d., antradienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                            <td data-toggle="tooltip" data-pamokos-id="[56337451,55914222]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject9&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 14d., trečiadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56632432]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject9&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 20d., antradienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56735190]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject9&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 22d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;9, Kontrolinis darbas (lapkričio 26)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">9<i class="fa fa-circle color_kontr" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject10
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56449423]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject10&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 16d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56785757]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject10&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 23d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[57093041]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject10&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 30d., penktadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                    <div style="">nt</div>
                                                            </td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject11
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject12
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56042865]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject12&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 08d., ketvirtadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject13
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56262303]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject13&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 13d., antradienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;10, Klasės darbas (lapkričio 13)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_klases" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56907021]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject13&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 26d., pirmadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Įvertinimai:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;10, Rašinys (lapkričio 29)&lt;/div&gt;" class=" clickable ">

                                        <div style="padding:0;margin:0;vertical-align:middle;">10<i class="fa fa-circle color_rasinys" style="vertical-align:middle;font-weight:bold;font-size:10px;padding-left:2px;margin-top:-2px"></i></div>
                                                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
                <tr>
                    <td class="dalykai  ">
                        Subject3
                    </td>

                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class="weekend"></td>
                                        <td class="weekend"></td>
                            <td data-toggle="tooltip" data-pamokos-id="[56932170]" data-placement="left" data-original-title="&lt;div style=&#39;border-bottom:solid 1px #87B4CC&#39;&gt;&lt;span style=&#39;font-size:1.1em;&#39;&gt;&lt;b&gt;Subject3&lt;/b&gt;&lt;/span&gt;&lt;div&gt; 26d., pirmadienis&lt;/div&gt;&lt;/div&gt;&lt;div class=&#39;stitle&#39;&gt;&lt;b&gt;Lankomumas:&lt;/b&gt;&lt;/div&gt;&lt;div&gt;nt, pateisinta tėvų (dėl ligos)&lt;/div&gt;" class=" clickable ">

                                                                    <div style="">nt</div>
                                                            </td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                                        <td class=""></td>
                </tr>
        </tbody>
    </table>
</div>
