<div class="namu_darbai_content">
    <div class="row" style="margin:10px 0px;">
        <div class="col-md-8">
            <span style="font-size:1.1em;">
                        <span><i style="font-size:22px;margin-right:5px;vertical-align:middle;color:#e1b95e" class="fa fa-info-circle"></i>Sąrašas surūšiuotas pagal namų darbo <b>atlikimo datą</b></span>
            </span>
        </div>
        <div class="col-md-6 hidden">
            <button class="c_btn utility more_details_check right" data-toggle-title="Nerodyti pamokos informacijos">Rodyti pamokos informaciją</button>
        </div>
    </div>
</div>
