<div class="col-md-8">
    <select data-val="true" data-val-number="Lauko DalykoId reikšmė turi būti skaičius" data-val-required="The DalykoId field is required." id="DalykoId" name="DalykoId">
<option selected="selected" value="Id0">Subject0</option>
<option value="Id1">Subject1</option>
<option value="Id2">Subject2</option>
<option value="Id3">Subject3</option>
<option value="Id4">Subject4</option>
<option value="Id5">Subject5</option>
<option value="Id6">Subject6</option>
<option value="Id7">Subject7</option>
<option value="Id8">Subject8</option>
<option value="Id9">Subject9</option>
<option value="Id10">Subject10</option>
<option value="Id11">Subject11</option>
</select>
</div>
