<div class="records"         data-tamo-behavior-element-type="dataTable" data-delete-url="/Pastabos/Delete"
>


    <div class="td"         data-tamo-behavior-element-type="dataItem" data-record-id="Redacted" data-record-title="Note text"
    >
        <div class="row">
            <div class="col-md-1">
                <img style="width:32px;height:32px;" src="/Content/img/new/icons/Komentaras.png"/>
            </div>
            <div class="col-md-6">
                <div style="font-size:1.1em;font-weight:bold;">Komentaras</div>
                <div style="margin-top:5px;">Note text</div>

            </div>
            <div class="col-md-4">
                <div style="font-weight:bold;font-size:1.1em">Subject1</div>
                <div style="margin-top:5px;">Teacher1</div>
            </div>
            <div class="col-md-3">
                <div style="font-weight:bold;">2018-10-19</div>
                <div style="color:#BBBBBB;margin-top:5px;">2018-11-15 08:42</div>

            </div>
        </div>
    </div>
    <div class="td"         data-tamo-behavior-element-type="dataItem" data-record-id="Redacted" data-record-title="Note text"
    >
        <div class="row">
            <div class="col-md-1">
                <img style="width:32px;height:32px;" src="/Content/img/new/icons/Pagyrimas.png"/>
            </div>
            <div class="col-md-6">
                <div style="font-size:1.1em;font-weight:bold;">Pagyrimas</div>
                <div style="margin-top:5px;">Note text</div>

            </div>
            <div class="col-md-4">
                <div style="font-weight:bold;font-size:1.1em">Subject2</div>
                <div style="margin-top:5px;">Teacher2</div>
            </div>
            <div class="col-md-3">
                <div style="font-weight:bold;">2018-11-06</div>
                <div style="color:#BBBBBB;margin-top:5px;">2018-11-06 16:33</div>

            </div>
        </div>
    </div>
    <div class="td"         data-tamo-behavior-element-type="dataItem" data-record-id="Redacted" data-record-title="Note text"
    >
        <div class="row">
            <div class="col-md-1">
                <img style="width:32px;height:32px;" src="/Content/img/new/icons/Pagyrimas.png"/>
            </div>
            <div class="col-md-6">
                <div style="font-size:1.1em;font-weight:bold;">Pagyrimas</div>
                <div style="margin-top:5px;">Note text</div>

            </div>
            <div class="col-md-4">
                <div style="font-weight:bold;font-size:1.1em">Subject2</div>
                <div style="margin-top:5px;">Teacher2</div>
            </div>
            <div class="col-md-3">
                <div style="font-weight:bold;">2018-11-06</div>
                <div style="color:#BBBBBB;margin-top:5px;">2018-11-06 16:28</div>

            </div>
        </div>
    </div>
    <div class="td"         data-tamo-behavior-element-type="dataItem" data-record-id="Redacted" data-record-title="Note text"
    >
        <div class="row">
            <div class="col-md-1">
                <img style="width:32px;height:32px;" src="/Content/img/new/icons/Pagyrimas.png"/>
            </div>
            <div class="col-md-6">
                <div style="font-size:1.1em;font-weight:bold;">Pagyrimas</div>
                <div style="margin-top:5px;">Note text</div>

            </div>
            <div class="col-md-4">
                <div style="font-weight:bold;font-size:1.1em">Subject3</div>
                <div style="margin-top:5px;">Teacher3</div>
            </div>
            <div class="col-md-3">
                <div style="font-weight:bold;">2018-11-05</div>
                <div style="color:#BBBBBB;margin-top:5px;">2018-11-05 15:35</div>

            </div>
        </div>
    </div>
    <div class="td"         data-tamo-behavior-element-type="dataItem" data-record-id="Redacted" data-record-title="Note text"
    >
        <div class="row">
            <div class="col-md-1">
                <img style="width:32px;height:32px;" src="/Content/img/new/icons/Pagyrimas.png"/>
            </div>
            <div class="col-md-6">
                <div style="font-size:1.1em;font-weight:bold;">Pagyrimas</div>
                <div style="margin-top:5px;">Note text</div>

            </div>
            <div class="col-md-4">
                <div style="font-weight:bold;font-size:1.1em">Subject2</div>
                <div style="margin-top:5px;">Teacher2</div>
            </div>
            <div class="col-md-3">
                <div style="font-weight:bold;">2018-10-23</div>
                <div style="color:#BBBBBB;margin-top:5px;">2018-10-23 16:00</div>

            </div>
        </div>
    </div>
    <div class="td">
        <div class="row"><div class="col-md-14 text-center">Pastabų, komentarų, pagyrimų nėra</div></div>
    </div>
</div>