<div class="c_block options">
<label>Laikotarpis</label>
<select id="laikotarpis" name="laikotarpis"><option selected="selected" value="1">1 pusmetis</option>
<option value="2">2 pusmetis</option>
<option value="3">Metinis</option>
</select>
</div>
