<table class="c_main_table wrap_text">
    <colgroup>
        <col class="fixed" width="200" />
        <col width="600" />
        <col width="50" />
            <col width="50" />
    </colgroup>
    <thead class="grey bold">
        <tr>
            <th class="fixed">Dalykas / mokytojas</th>
            <th>Pažymiai</th>
            <th>Vidurkis</th>
                <th>Pagr.</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject4</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span></span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject5</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span></span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject6</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-09-26&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    5
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-19&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    4
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>4,5</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject2</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-09&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-23&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Kontrolinis darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class="color_kontr bold">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-23&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-11-06&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>10</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject7</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-17&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    8
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>8</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject8</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span></span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject1</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-09-11&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    6
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-09-14&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    6
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-19&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    1
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-23&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    8
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>5,25</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject9</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-09-20&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Kontrolinis darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class="color_kontr bold">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-11&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Kaupiamasis&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    7
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-16&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Kontrolinis darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class="color_kontr bold">
                                    9
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-24&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Paprastas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>9</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject10</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span></span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject11</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span></span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject13</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-09-17&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-01&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    9
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-23&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Kaupiamasis&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-11-13&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>9,75</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
            <tr>
                <td class="fixed">
                    <div style="font-size:1.05em;font-weight:bold;">Subject3</div>
                    <div style="font-size:0.9em;">Redacted</div>
                </td>
                <td>
                        <div data-toggle="tooltip" data-original-title="&lt;div&gt;&lt;b&gt; 2018-10-15&lt;/b&gt;&lt;/div&gt;&lt;div&gt;Klasės darbas&lt;/div&gt;" style="text-align:center;cursor:pointer;font-size:15px;display:inline-block;vertical-align:top;margin-right:10px;font-weight:normal;">
                                <span class=" ">
                                    10
                                </span>
                        </div>
                </td>
                <td class="a_center" style="font-size:15px">


                    <span>10</span>


                </td>
                        <td class="a_center"><span style="font-weight:bold;font-size:15px"></span></td>
            </tr>
        <tr style="background:#EEEEEE">
            <td class="fixed" style="padding-top:10px;padding-bottom:10px;"><div style="font-weight:bold;font-size:20px">Vidurkis:</div></td>
            <td style="padding-top:10px;padding-bottom:10px;">
                    <span style="font-weight:bold;font-size:20px"> 8,15</span>
            </td>
            <td></td>

                <td class="a_center" style="padding-top:10px;padding-bottom:10px;">

                </td>
        </tr>
    </tbody>
</table>
